body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    padding: 0;
    height: 100vh;
    background-color: #f2f2f2;
}

.wrapper {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.logo {
    width: 100px;
    height: auto;
}

.logo_reverse {
    width: 100px;
    height: auto;
    margin-top: 10px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotating-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.logo:hover {
  animation: rotating 2s linear infinite;
}

.logo_reverse:hover {
  animation: rotating-reverse 2s linear infinite;
}


h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #888888;
}

h2 {
    color: #555;
}

h3 {
    color: #555;
}

button {
    display: block;
    width: 150px;
    padding: 10px;
    margin: 5px auto;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

hr {
    border: 1px solid #ddd;
    margin: 30px auto 30px auto;
    width: 500px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

footer a {
    color: #61dafb;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


h1, h2, h3, button, hr {
    opacity: 0;
}

table{
    font-size: .75rem;
}

select{
    min-width: 120px;
}

.fade-in {
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.table{
    margin: auto;
}

.clues ul{
    column-count: 2;
    column-gap: 1.5rem;
    padding-left: 0;
    list-style: none;
    margin: 50px 0 0;
}

.clues ul li{
    margin-bottom: .125rem;
    page-break-inside: avoid;
    border-bottom: 1px solid #ddd;
    padding-bottom: .125rem;
    text-align: left;
}

.middle-table{
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.middle-table tr td{
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.vertical-text{
    display: inline-block;
    height: 100%;
}

.vertical-text-inner{
    display: inline-block;
    white-space: nowrap;
    line-height: 1.5;
    transform: translate(0%, 100%) rotate(-90deg);
    transform-origin: 0 0;
}

.top-table{
    width: 100%;
    height: 100%;
    table-layout: fixed;
    min-height: 100px;
}

.top-table tr:first-child{
    min-height: 25px;
    width: 100%;
}

.top-table tr:first-child td{
    text-align: center;
}

.top-table tr:last-child{
    min-height: 75px;
}

.top-table tr:last-child td{
    border-right: 1px solid #ddd;
}

.side-table tr:last-child td{
    border-bottom: 1px solid #ddd;
}

.validated{
    background-color: green;
}

.invalidated{
    background-color: red;
}

.submit-button{
    margin-top: 10px;
}