body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    padding: 0;
    height: 100vh;
    background-color: #f2f2f2;
}

.wrapper {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.logo {
    width: 100px;
    height: auto;
}

.logo_reverse {
    width: 100px;
    height: auto;
    margin-top: 10px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotating-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.logo:hover {
  animation: rotating 2s linear infinite;
}

.logo_reverse:hover {
  animation: rotating-reverse 2s linear infinite;
}


h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #888888;
}

h2 {
    color: #555;
}

h3 {
    color: #555;
}

button {
    display: block;
    width: 150px;
    padding: 10px;
    margin: 5px auto;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

hr {
    border: 1px solid #ddd;
    margin: 30px auto 30px auto;
    width: 500px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

footer a {
    color: #61dafb;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


h1, h2, h3, button, hr {
    opacity: 0;
}

.fade-in {
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


